@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap:100,400,500');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: rgb(53, 54, 58);
    color: white;
    font-family: 'Roboto', 'Segoe UI', Tahoma, sans-serif;
    margin: 0;
    font-size: 81.25%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}

.header-div {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    width: 100%;
}

.header {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 22px;
    width: 100%;
}

.gmail {
    position: relative;
    font-weight: 200;
    right: 80px;
}

.img {
    position: relative;
    right: 60px;
    font-weight: 200; 
}

h5:hover {
    text-decoration: underline white;
    cursor: pointer;
}

.apps-wrapper {
    position: relative;
    right: 40px;
    border-radius: 50%;
    height: 24px;
}

.apps-wrapper:hover {
    outline-color: rgba(232,234,237,.08);
    outline-style: solid;
    border-radius: 50%;
    outline-width: 12px;
    cursor: pointer;
    background-color: rgba(232,234,237,.08);
}

.tolu-wrapper {
    position: relative;
    right: 20px;
}

.tolu {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgb(194, 81, 194);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
}

.tolu-wrapper:hover {
    outline-color: rgba(232,234,237,.08);
    outline-style: solid;
    outline-width: 6px;
    border-radius: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.googlelogo {
    width: 440px;
    height: 220px;
    background-color: rgb(53, 54, 58);
}

form {
    width: 750px;
    height: 60px;
    color: #555;
    display: flex;
    border-radius: 35px;
    background-color: white;
}

button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 45px;
    height: 100%;
    padding: 5px 0;
    margin: 0 0 0 16px;
    border: none;
    background: transparent url("search-icon.svg") no-repeat center;
    cursor: default;
    opacity: 0.7;
}    

input[type="search"] {
    height: 100%;
    width: 100%;
    border: none;
    background: transparent;
    margin: 0;
    padding: 0 44px 0 38px;
    font-family: inherit;
    font-weight: 500;
}

input[type="search"]::placeholder {
    color: rgba(59, 59, 59, 0.973);
    font-size: 21px;
    font-weight: 500;
    position: absolute;
    left: 12px;
    top: 20px;
} 

.input:focus {
    padding: none;
    outline: none;
}

:focus-visible { outline: none; }

.mic-icon {
    text-indent: -999px;
    overflow: hidden;
    width: 55px;
    height: 100%;
    padding: 5 0;
    margin: 0 16px 0 16px;
    border: none;
    background: transparent url("mic-icon.svg") no-repeat center;
    cursor: pointer;
    opacity: 0.9;
}    

.content div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 142px;
    border-radius: 5%;
}

.content > div:hover {
    background-color: rgba(225, 225, 225, 0.1);
}

.plus-icon {
    background: transparent url("plus-icon.svg") no-repeat center;
    height: 65px;
    width: 65px;
    background-color: rgba(32, 33, 36, 1);
    border-radius: 50%;
    border: none;
    margin-top: 16px;
    padding-bottom: 10px;
}    

.title {
    font-size: 17px;
    padding-bottom: 10px;
    margin-bottom: 16px;
}

.footer {
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 0;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 40px;
    width: 235px;
    background-color: rgba(32, 33, 36, 1);
    color: #8ab4f8ff;
    border-radius: 50px;
}

.pen {
    color: #8ab4f8ff;
    margin: auto 3px;
    width: 24px;
    height: 24px;
}

.customize {
    background: transparent;
    color: #8ab4f8ff;
    border: none;
    font-size: 18.2px;
    height: 100%;
}

.footer-wrapper:hover {
    background-color: rgba(138, 180, 248, 0.08);
}


